<div class="buscador">
	<form name="busqueda" action="." method="POST">
		<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="lead">Buscar publicación:</p>
			</div>
		</div>
		<div class="row no-gutter4">
			<div class="col-md-cinco">
						<select name="anio" class="form-control input-lg" data-style="btn-info btn-lg">
							<option>Año</option>
                                <option value="2022">2022</option>
						  		<option value="2021">2021</option>
						  		<option value="2020">2020</option>
						  		<option value="2019">2019</option>
						  		<option value="2018">2018</option>
						  		<option value="2017">2017</option>
						  		<option value="2016">2016</option>
						  		<option value="2015">2015</option>
						</select>
			</div>
			<div class="col-md-cinco">
						<input name="autor" type="text" class="form-control input-lg" placeholder="Autor/es" />
			</div>
            <div class="col-md-cinco">
						<input name="titulo" type="text" id="searchfilter" class="form-control input-lg" placeholder="Titulo" />
			</div>
			<div class="col-md-cinco">
				<input type="submit" value="Buscar" class="btn btn-primary btn-lg btn-block"/>
			</div>
		</div>
	</div>
	</form>
</div>